.header-right {
    text-align: right;
    margin-bottom: 15px;
}

.bt1 {
     background: linear-gradient(135deg, #125997 0%, #1e88e5 100%);
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(18, 89, 151, 0.39);
  transition: all 0.2s ease;
  margin-right: 10px;
}

.bt1:active {
  transform: scale(0.95); /* เอฟเฟกต์ตอนกดปุ่มจะยุบลงไปเล็กน้อย */
}


.bt2 {
    background: linear-gradient(135deg, #125997 0%, #1e88e5 100%);
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(18, 89, 151, 0.39);
  transition: all 0.2s ease;
  margin-right: 10px;
}

.bt2:active {
  transform: scale(0.95); /* เอฟเฟกต์ตอนกดปุ่มจะยุบลงไปเล็กน้อย */
}