.Login0 {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #bac3d4; /* สีเทาเข้ม */
}
.Login1 {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    background-color: #ededed; /* สีขาว */
    padding: 40px;
    box-shadow: 0 4px 8px rgba(118, 48, 48, 0.2); /* เงา */
}
.Login2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    background-color: #2d78ea; /* สีขาว */
    box-shadow: 0 4px 8px rgba(27, 43, 57, 0.2); /* เงา */
}   
.Login3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}   
.Login4 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333333; /* สีเทาเข้ม */
}
.Login5 {
    display: block;
    font-size: 14px;        
    width: 100%;
    border-radius: 8px; 
    border: 1px solid #240303; /* สีเทาอ่อน */
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.Login5:focus {
    border-color: #1a4068; /* สีฟ้า */
    outline: none;
    box-shadow: 0 0 0 1px rgba(49, 67, 87, 0.25); /* เงาเมื่อโฟกัส */
}
.Login6 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #000000; /* สีเทาเข้ม */
}
.Login7 {
    display: block;
    font-size: 14px;        
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000; /* สีเทาอ่อน */
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
    .Login8 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #b64444; /* สีเทาเข้ม */       
    width: 100%;
    border-radius: 8px;
    background-color: #157ae6; /* สีฟ้า */
    padding: 10px;
    font-weight: 600;
    color: #ffffff; /* สีขาว */
    transition: background-color 0.3s;
}           
